body{
	width:100%;
	height:100%;
}

bg-accordian{
	display:block;
}
.accordion__container{
		
}
.accordion__tab{
	width:70%;
	border: 1px solid tomato;
margin-bottom: 1px;
}

 .accordion__tab-title{
 	width:70%;
	border:1px solid blue;
}
.accordion__tab-content{
	width:70%;
	border:1px solid grey;
}
