body{
	width:100%;
	height:100%;
}

bg-accordion{
	display:block;
}
.accordion__container{
		
}
.panel-group{
	width:70%;
	border: 1px solid tomato;
margin-bottom: 1px;
}

.panel-title{
 	width:70%;
	border:1px solid blue;
}
.panel-body{
	width:70%;
	border:1px solid grey;
}
